/*
 * Copyright 2026 NXP
 * SPDX-License-Identifier: Apache-2.0
 *
 * DAC wiring for the device-PM test on FRDM-MCXA577.
 *
 * DAC0 channel 0, 12-bit, output on J8-23 (P2_2). Nothing has to be connected: this
 * test reads GCR, not the output voltage.
 *
 * The console is lpuart1 (P3_20/P3_21), so DAC0_OUT takes no console pin here.
 */

/ {
	zephyr,user {
		dac = <&dac0>;
		dac-channel-id = <0>;
		dac-resolution = <12>;
	};
};
